<div class="userindex_container">
<h1>My Profile</h1> 
<ul>
	<li>Name: <%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></li>
	<li>Username: <%= @user.username %></li>
	<li>Email: <%= @user.email %></li>
	<li>Bio: <%= @user.bio %></li>
</ul>
	
</div>